<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../public/css/style.css">
    <title><span></span>Simple Todo List</title>
</head>
<body>
    <h1>Todo List</h1>
    <h2></h2>

    <h2>Add Todo</h2>
        <form method="POST" action="/addTodo" class="addTodo">
            <input type="text" class="newTodo" placeholder="add todo item">
        </form>
    



    <script src="../public/js/main.js"></script>
    <!-- <script src="https://use.fontawesome.com/932507b6bb.js"></script> -->
</body>
</html>